/* 
 * Dhyana (Lao) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Dhyana';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/dhyana/v4/Dhyana-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/dhyana/v4/Dhyana-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/dhyana/v4/Dhyana-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Dhyana';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/dhyana/v4/Dhyana-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/dhyana/v4/Dhyana-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/dhyana/v4/Dhyana-Bold.ttf) format('truetype');
}
