<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_kern_A_left</key>
	<array>
		<string>A'</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
	</array>
	<key>_kern_A_right</key>
	<array>
		<string>A'</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
	</array>
	<key>_kern_C_left</key>
	<array>
		<string>C'</string>
		<string>Ccedilla</string>
	</array>
	<key>_kern_E_left</key>
	<array>
		<string>E'</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>AE</string>
		<string>OE</string>
	</array>
	<key>_kern_E_right</key>
	<array>
		<string>E'</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
	</array>
	<key>_kern_O_left</key>
	<array>
		<string>O'</string>
		<string>D</string>
		<string>Q</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Eth</string>
	</array>
	<key>_kern_O_right</key>
	<array>
		<string>O'</string>
		<string>C</string>
		<string>G</string>
		<string>Q</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>Ccedilla</string>
	</array>
	<key>_kern_U</key>
	<array>
		<string>U'</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
	</array>
	<key>_kern_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>_kern_a_left</key>
	<array>
		<string>a'</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
	</array>
	<key>_kern_a_right</key>
	<array>
		<string>a'</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
	</array>
	<key>_kern_c_left</key>
	<array>
		<string>c'</string>
		<string>ccedilla</string>
	</array>
	<key>_kern_e_left</key>
	<array>
		<string>e'</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>oe</string>
	</array>
	<key>_kern_i</key>
	<array>
		<string>i'</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>dotlessi</string>
	</array>
	<key>_kern_n_left</key>
	<array>
		<string>n'</string>
		<string>h</string>
		<string>m</string>
		<string>ntilde</string>
	</array>
	<key>_kern_n_right</key>
	<array>
		<string>n'</string>
		<string>m</string>
		<string>ntilde</string>
		<string>r</string>
	</array>
	<key>_kern_o_left</key>
	<array>
		<string>o'</string>
		<string>b</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
	</array>
	<key>_kern_o_right</key>
	<array>
		<string>o'</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>q</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>oe</string>
		<string>eth</string>
	</array>
	<key>_kern_quote6</key>
	<array>
		<string>quoteleft'</string>
		<string>quotedblleft</string>
	</array>
	<key>_kern_quote9</key>
	<array>
		<string>quoteright'</string>
		<string>quotedblright</string>
		<string>apostrophe</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>_kern_quotebase9</key>
	<array>
		<string>quotesinglbase'</string>
		<string>quotedblbase</string>
		<string>comma</string>
	</array>
	<key>_kern_u</key>
	<array>
		<string>u'</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
	</array>
	<key>_kern_y</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
</dict>
</plist>
