<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-100</integer>
		<key>U</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-125</integer>
		<key>W</key>
		<integer>-100</integer>
		<key>Y</key>
		<integer>-110</integer>
		<key>asterisk</key>
		<integer>-150</integer>
		<key>backslash</key>
		<integer>-115</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>colon</key>
		<integer>20</integer>
		<key>comma</key>
		<integer>20</integer>
		<key>emdash</key>
		<integer>-35</integer>
		<key>guillemotleft</key>
		<integer>-15</integer>
		<key>quotedbl</key>
		<integer>-120</integer>
		<key>slash</key>
		<integer>40</integer>
		<key>t</key>
		<integer>-65</integer>
		<key>u</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-115</integer>
		<key>w</key>
		<integer>-110</integer>
		<key>y</key>
		<integer>-100</integer>
	</dict>
	<key>AE</key>
	<dict>
		<key>c</key>
		<integer>10</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>C</key>
		<integer>15</integer>
		<key>J</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>asterisk</key>
		<integer>-35</integer>
		<key>b</key>
		<integer>0</integer>
		<key>c</key>
		<integer>20</integer>
		<key>question</key>
		<integer>0</integer>
		<key>x</key>
		<integer>-15</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>B</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>0</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>B</key>
		<integer>-20</integer>
		<key>C</key>
		<integer>18</integer>
		<key>J</key>
		<integer>-25</integer>
		<key>M</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>U</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-38</integer>
		<key>Y</key>
		<integer>-42</integer>
		<key>Z</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-45</integer>
		<key>asterisk</key>
		<integer>-40</integer>
		<key>b</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>10</integer>
		<key>comma</key>
		<integer>-25</integer>
		<key>emdash</key>
		<integer>25</integer>
		<key>m</key>
		<integer>-13</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-15</integer>
		<key>u</key>
		<integer>-5</integer>
		<key>x</key>
		<integer>-30</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-70</integer>
		<key>AE</key>
		<integer>-90</integer>
		<key>C</key>
		<integer>0</integer>
		<key>M</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>30</integer>
		<key>W</key>
		<integer>30</integer>
		<key>a</key>
		<integer>-75</integer>
		<key>ae</key>
		<integer>-80</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>m</key>
		<integer>-8</integer>
		<key>quotedbl</key>
		<integer>35</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>slash</key>
		<integer>-35</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>B</key>
		<integer>-25</integer>
		<key>T</key>
		<integer>-33</integer>
		<key>U</key>
		<integer>-25</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-26</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>asterisk</key>
		<integer>-44</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-20</integer>
		<key>quotedbl</key>
		<integer>-25</integer>
		<key>t</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-30</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>B</key>
		<integer>0</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>colon</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>n</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>u</key>
		<integer>-17</integer>
	</dict>
	<key>IJ</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-22</integer>
		<key>n</key>
		<integer>-15</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>B</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-20</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>C</key>
		<integer>-40</integer>
		<key>c</key>
		<integer>-35</integer>
		<key>emdash</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>30</integer>
		<key>t</key>
		<integer>-45</integer>
		<key>u</key>
		<integer>-45</integer>
		<key>v</key>
		<integer>-90</integer>
		<key>w</key>
		<integer>-90</integer>
		<key>y</key>
		<integer>-60</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-80</integer>
		<key>V</key>
		<integer>-100</integer>
		<key>W</key>
		<integer>-70</integer>
		<key>Y</key>
		<integer>-85</integer>
		<key>asterisk</key>
		<integer>-120</integer>
		<key>backslash</key>
		<integer>-30</integer>
		<key>quotedbl</key>
		<integer>-100</integer>
		<key>t</key>
		<integer>-85</integer>
		<key>v</key>
		<integer>-95</integer>
		<key>w</key>
		<integer>-85</integer>
		<key>y</key>
		<integer>-100</integer>
	</dict>
	<key>Lcaron</key>
	<dict>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-25</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>C</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>U</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>asterisk</key>
		<integer>-65</integer>
		<key>quotedbl</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>35</integer>
		<key>u</key>
		<integer>-14</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>B</key>
		<integer>-20</integer>
		<key>C</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>colon</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>u</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-7</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-65</integer>
		<key>AE</key>
		<integer>-145</integer>
		<key>C</key>
		<integer>15</integer>
		<key>M</key>
		<integer>-5</integer>
		<key>S</key>
		<integer>16</integer>
		<key>T</key>
		<integer>20</integer>
		<key>a</key>
		<integer>-80</integer>
		<key>ae</key>
		<integer>-160</integer>
		<key>c</key>
		<integer>12</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>m</key>
		<integer>-15</integer>
		<key>quotedbl</key>
		<integer>25</integer>
		<key>slash</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>25</integer>
		<key>v</key>
		<integer>40</integer>
		<key>w</key>
		<integer>30</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>M</key>
		<integer>10</integer>
		<key>S</key>
		<integer>0</integer>
		<key>T</key>
		<integer>-25</integer>
		<key>U</key>
		<integer>-36</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>W</key>
		<integer>-35</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-35</integer>
		<key>asterisk</key>
		<integer>-55</integer>
		<key>c</key>
		<integer>-13</integer>
		<key>colon</key>
		<integer>20</integer>
		<key>comma</key>
		<integer>15</integer>
		<key>guillemotleft</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-25</integer>
		<key>quotedbl</key>
		<integer>-22</integer>
		<key>slash</key>
		<integer>40</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>B</key>
		<integer>-10</integer>
		<key>U</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>asterisk</key>
		<integer>-50</integer>
		<key>b</key>
		<integer>-5</integer>
		<key>quotedbl</key>
		<integer>-16</integer>
		<key>v</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-25</integer>
		<key>x</key>
		<integer>-25</integer>
		<key>y</key>
		<integer>-25</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>B</key>
		<integer>0</integer>
		<key>C</key>
		<integer>0</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>20</integer>
		<key>V</key>
		<integer>50</integer>
		<key>W</key>
		<integer>50</integer>
		<key>X</key>
		<integer>40</integer>
		<key>Y</key>
		<integer>50</integer>
		<key>a</key>
		<integer>-130</integer>
		<key>asterisk</key>
		<integer>20</integer>
		<key>backslash</key>
		<integer>20</integer>
		<key>c</key>
		<integer>-35</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>emdash</key>
		<integer>-80</integer>
		<key>exclam</key>
		<integer>25</integer>
		<key>guillemotleft</key>
		<integer>-50</integer>
		<key>guillemotright</key>
		<integer>-20</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>60</integer>
		<key>quotedbl</key>
		<integer>35</integer>
		<key>s</key>
		<integer>-25</integer>
		<key>slash</key>
		<integer>-40</integer>
		<key>v</key>
		<integer>40</integer>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>60</integer>
	</dict>
	<key>Thorn</key>
	<dict>
		<key>C</key>
		<integer>25</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>B</key>
		<integer>-15</integer>
		<key>M</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-60</integer>
		<key>b</key>
		<integer>-25</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>colon</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-35</integer>
		<key>j</key>
		<integer>-16</integer>
		<key>m</key>
		<integer>-40</integer>
		<key>n</key>
		<integer>-18</integer>
		<key>s</key>
		<integer>-17</integer>
		<key>z</key>
		<integer>-22</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-120</integer>
		<key>C</key>
		<integer>-25</integer>
		<key>M</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>50</integer>
		<key>V</key>
		<integer>40</integer>
		<key>W</key>
		<integer>40</integer>
		<key>X</key>
		<integer>40</integer>
		<key>Z</key>
		<integer>20</integer>
		<key>a</key>
		<integer>-157</integer>
		<key>adieresis</key>
		<integer>-27</integer>
		<key>asterisk</key>
		<integer>30</integer>
		<key>backslash</key>
		<integer>40</integer>
		<key>c</key>
		<integer>-60</integer>
		<key>colon</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>emdash</key>
		<integer>-50</integer>
		<key>guillemotleft</key>
		<integer>-30</integer>
		<key>guillemotright</key>
		<integer>-15</integer>
		<key>m</key>
		<integer>-45</integer>
		<key>question</key>
		<integer>30</integer>
		<key>quotedbl</key>
		<integer>25</integer>
		<key>s</key>
		<integer>-41</integer>
		<key>slash</key>
		<integer>-50</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-93</integer>
		<key>C</key>
		<integer>-17</integer>
		<key>M</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>50</integer>
		<key>V</key>
		<integer>40</integer>
		<key>W</key>
		<integer>10</integer>
		<key>X</key>
		<integer>15</integer>
		<key>Y</key>
		<integer>20</integer>
		<key>Z</key>
		<integer>20</integer>
		<key>a</key>
		<integer>-105</integer>
		<key>adieresis</key>
		<integer>-45</integer>
		<key>asterisk</key>
		<integer>20</integer>
		<key>backslash</key>
		<integer>45</integer>
		<key>c</key>
		<integer>-45</integer>
		<key>colon</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>emdash</key>
		<integer>-15</integer>
		<key>exclam</key>
		<integer>40</integer>
		<key>guillemotleft</key>
		<integer>-15</integer>
		<key>m</key>
		<integer>-43</integer>
		<key>n</key>
		<integer>-34</integer>
		<key>question</key>
		<integer>40</integer>
		<key>s</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>C</key>
		<integer>-38</integer>
		<key>T</key>
		<integer>13</integer>
		<key>V</key>
		<integer>10</integer>
		<key>W</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>Z</key>
		<integer>20</integer>
		<key>c</key>
		<integer>-43</integer>
		<key>colon</key>
		<integer>20</integer>
		<key>comma</key>
		<integer>20</integer>
		<key>emdash</key>
		<integer>-55</integer>
		<key>exclam</key>
		<integer>20</integer>
		<key>guillemotleft</key>
		<integer>-45</integer>
		<key>guillemotright</key>
		<integer>-25</integer>
		<key>question</key>
		<integer>10</integer>
		<key>slash</key>
		<integer>40</integer>
		<key>t</key>
		<integer>-22</integer>
		<key>u</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-55</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-110</integer>
		<key>C</key>
		<integer>-40</integer>
		<key>M</key>
		<integer>-25</integer>
		<key>T</key>
		<integer>50</integer>
		<key>V</key>
		<integer>40</integer>
		<key>W</key>
		<integer>20</integer>
		<key>X</key>
		<integer>10</integer>
		<key>a</key>
		<integer>-150</integer>
		<key>adieresis</key>
		<integer>-30</integer>
		<key>asterisk</key>
		<integer>35</integer>
		<key>b</key>
		<integer>-35</integer>
		<key>backslash</key>
		<integer>45</integer>
		<key>c</key>
		<integer>-90</integer>
		<key>colon</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-115</integer>
		<key>emdash</key>
		<integer>-80</integer>
		<key>guillemotleft</key>
		<integer>-50</integer>
		<key>guillemotright</key>
		<integer>-35</integer>
		<key>m</key>
		<integer>-70</integer>
		<key>question</key>
		<integer>20</integer>
		<key>quotedbl</key>
		<integer>25</integer>
		<key>s</key>
		<integer>-60</integer>
		<key>u</key>
		<integer>-40</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>V</key>
		<integer>20</integer>
		<key>W</key>
		<integer>20</integer>
		<key>X</key>
		<integer>20</integer>
		<key>asterisk</key>
		<integer>-25</integer>
		<key>u</key>
		<integer>-10</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>C</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-130</integer>
		<key>U</key>
		<integer>-55</integer>
		<key>V</key>
		<integer>-160</integer>
		<key>W</key>
		<integer>-115</integer>
		<key>Y</key>
		<integer>-150</integer>
		<key>asterisk</key>
		<integer>-115</integer>
		<key>b</key>
		<integer>0</integer>
		<key>backslash</key>
		<integer>-70</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>colon</key>
		<integer>20</integer>
		<key>comma</key>
		<integer>20</integer>
		<key>exclam</key>
		<integer>20</integer>
		<key>question</key>
		<integer>-60</integer>
		<key>quotedbl</key>
		<integer>-85</integer>
		<key>s</key>
		<integer>20</integer>
		<key>slash</key>
		<integer>50</integer>
		<key>t</key>
		<integer>-50</integer>
		<key>u</key>
		<integer>-31</integer>
		<key>v</key>
		<integer>-105</integer>
		<key>w</key>
		<integer>-85</integer>
		<key>y</key>
		<integer>-70</integer>
	</dict>
	<key>ae</key>
	<dict>
		<key>C</key>
		<integer>6</integer>
		<key>U</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>20</integer>
		<key>t</key>
		<integer>5</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>B</key>
		<integer>-20</integer>
		<key>C</key>
		<integer>10</integer>
		<key>J</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-15</integer>
		<key>U</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-70</integer>
		<key>asterisk</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>25</integer>
		<key>question</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-15</integer>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>A</key>
		<integer>40</integer>
		<key>M</key>
		<integer>35</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>X</key>
		<integer>30</integer>
		<key>a</key>
		<integer>50</integer>
		<key>m</key>
		<integer>30</integer>
		<key>t</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>25</integer>
	</dict>
	<key>bullet</key>
	<dict>
		<key>three</key>
		<integer>-54</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>Y</key>
		<integer>-16</integer>
		<key>a</key>
		<integer>15</integer>
		<key>c</key>
		<integer>13</integer>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>15</integer>
	</dict>
	<key>colon</key>
	<dict>
		<key>nine</key>
		<integer>15</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>asterisk</key>
		<integer>-40</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>eight</key>
		<integer>15</integer>
		<key>four</key>
		<integer>-15</integer>
		<key>nine</key>
		<integer>-70</integer>
		<key>seven</key>
		<integer>-50</integer>
		<key>six</key>
		<integer>-20</integer>
		<key>zero</key>
		<integer>-25</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>A</key>
		<integer>-15</integer>
		<key>B</key>
		<integer>-15</integer>
		<key>C</key>
		<integer>15</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>X</key>
		<integer>-55</integer>
		<key>Y</key>
		<integer>-90</integer>
		<key>a</key>
		<integer>-15</integer>
		<key>asterisk</key>
		<integer>-45</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>20</integer>
		<key>comma</key>
		<integer>-10</integer>
		<key>emdash</key>
		<integer>25</integer>
		<key>m</key>
		<integer>-3</integer>
		<key>n</key>
		<integer>-13</integer>
		<key>question</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>5</integer>
		<key>t</key>
		<integer>5</integer>
		<key>v</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-27</integer>
		<key>x</key>
		<integer>-40</integer>
		<key>y</key>
		<integer>-30</integer>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>divide</key>
	<dict>
		<key>seven</key>
		<integer>-35</integer>
		<key>three</key>
		<integer>-50</integer>
		<key>two</key>
		<integer>-25</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>four</key>
		<integer>15</integer>
		<key>nine</key>
		<integer>-15</integer>
		<key>three</key>
		<integer>-30</integer>
		<key>two</key>
		<integer>-15</integer>
	</dict>
	<key>emdash</key>
	<dict>
		<key>T</key>
		<integer>-90</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-55</integer>
		<key>Y</key>
		<integer>-80</integer>
		<key>Z</key>
		<integer>-30</integer>
		<key>c</key>
		<integer>25</integer>
		<key>eight</key>
		<integer>20</integer>
		<key>four</key>
		<integer>25</integer>
		<key>nine</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-55</integer>
		<key>six</key>
		<integer>15</integer>
		<key>t</key>
		<integer>-70</integer>
		<key>three</key>
		<integer>-55</integer>
		<key>two</key>
		<integer>-45</integer>
		<key>v</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-55</integer>
		<key>z</key>
		<integer>-35</integer>
		<key>zero</key>
		<integer>15</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>C</key>
		<integer>12</integer>
		<key>J</key>
		<integer>-10</integer>
		<key>a</key>
		<integer>-56</integer>
		<key>asterisk</key>
		<integer>10</integer>
		<key>c</key>
		<integer>5</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>m</key>
		<integer>-15</integer>
		<key>question</key>
		<integer>20</integer>
		<key>quotedbl</key>
		<integer>20</integer>
		<key>space</key>
		<integer>5</integer>
		<key>t</key>
		<integer>10</integer>
		<key>v</key>
		<integer>30</integer>
		<key>y</key>
		<integer>20</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>nine</key>
		<integer>-25</integer>
		<key>three</key>
		<integer>-15</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>emdash</key>
		<integer>15</integer>
		<key>nine</key>
		<integer>-15</integer>
		<key>question</key>
		<integer>-30</integer>
		<key>three</key>
		<integer>-25</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>B</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-35</integer>
		<key>U</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-65</integer>
		<key>asterisk</key>
		<integer>-55</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>10</integer>
		<key>j</key>
		<integer>-5</integer>
		<key>question</key>
		<integer>-20</integer>
		<key>quotedbl</key>
		<integer>-21</integer>
		<key>t</key>
		<integer>-16</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-16</integer>
		<key>x</key>
		<integer>-29</integer>
		<key>y</key>
		<integer>-27</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>guillemotleft</key>
	<dict>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>x</key>
		<integer>-15</integer>
	</dict>
	<key>guillemotright</key>
	<dict>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>X</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-55</integer>
		<key>x</key>
		<integer>-50</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>B</key>
		<integer>-5</integer>
		<key>U</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>0</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>-25</integer>
		<key>question</key>
		<integer>10</integer>
		<key>u</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>10</integer>
		<key>x</key>
		<integer>10</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>a</key>
		<integer>0</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>C</key>
		<integer>-30</integer>
		<key>U</key>
		<integer>-35</integer>
		<key>c</key>
		<integer>-35</integer>
		<key>emdash</key>
		<integer>-35</integer>
		<key>slash</key>
		<integer>40</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
		<key>V</key>
		<integer>-95</integer>
		<key>W</key>
		<integer>-85</integer>
		<key>Y</key>
		<integer>-100</integer>
		<key>a</key>
		<integer>30</integer>
		<key>asterisk</key>
		<integer>-85</integer>
		<key>c</key>
		<integer>20</integer>
		<key>emdash</key>
		<integer>10</integer>
		<key>question</key>
		<integer>-68</integer>
		<key>quotedbl</key>
		<integer>-80</integer>
		<key>slash</key>
		<integer>15</integer>
		<key>t</key>
		<integer>-55</integer>
		<key>v</key>
		<integer>-60</integer>
		<key>w</key>
		<integer>-70</integer>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>-70</integer>
		<key>z</key>
		<integer>20</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>T</key>
		<integer>-25</integer>
		<key>U</key>
		<integer>-27</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>W</key>
		<integer>-43</integer>
		<key>Y</key>
		<integer>-55</integer>
		<key>asterisk</key>
		<integer>-45</integer>
		<key>backslash</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-3</integer>
		<key>comma</key>
		<integer>10</integer>
		<key>question</key>
		<integer>-30</integer>
		<key>quotedbl</key>
		<integer>-25</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-40</integer>
		<key>y</key>
		<integer>-23</integer>
		<key>z</key>
		<integer>20</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>c</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-15</integer>
		<key>exclam</key>
		<integer>10</integer>
		<key>n</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>20</integer>
		<key>quotedbl</key>
		<integer>20</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>comma</key>
		<integer>-20</integer>
		<key>emdash</key>
		<integer>15</integer>
		<key>three</key>
		<integer>-15</integer>
		<key>two</key>
		<integer>-15</integer>
		<key>zero</key>
		<integer>15</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>comma</key>
		<integer>0</integer>
		<key>nine</key>
		<integer>-15</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>A</key>
		<integer>-75</integer>
		<key>B</key>
		<integer>-5</integer>
		<key>C</key>
		<integer>20</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-55</integer>
		<key>Y</key>
		<integer>-45</integer>
		<key>a</key>
		<integer>-60</integer>
		<key>c</key>
		<integer>20</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>m</key>
		<integer>-15</integer>
		<key>quotedbl</key>
		<integer>25</integer>
		<key>s</key>
		<integer>5</integer>
		<key>v</key>
		<integer>10</integer>
		<key>x</key>
		<integer>-7</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>seven</key>
		<integer>20</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>A</key>
		<integer>-150</integer>
		<key>M</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-5</integer>
		<key>V</key>
		<integer>25</integer>
		<key>Y</key>
		<integer>25</integer>
		<key>a</key>
		<integer>-85</integer>
		<key>c</key>
		<integer>-55</integer>
		<key>m</key>
		<integer>-55</integer>
		<key>s</key>
		<integer>-40</integer>
		<key>t</key>
		<integer>20</integer>
		<key>v</key>
		<integer>25</integer>
		<key>w</key>
		<integer>20</integer>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>25</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-45</integer>
		<key>U</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-73</integer>
		<key>W</key>
		<integer>-54</integer>
		<key>Y</key>
		<integer>-74</integer>
		<key>a</key>
		<integer>30</integer>
		<key>asterisk</key>
		<integer>-60</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>colon</key>
		<integer>40</integer>
		<key>comma</key>
		<integer>30</integer>
		<key>m</key>
		<integer>20</integer>
		<key>question</key>
		<integer>-30</integer>
		<key>quotedbl</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>9</integer>
		<key>slash</key>
		<integer>50</integer>
		<key>t</key>
		<integer>-16</integer>
		<key>u</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-33</integer>
		<key>x</key>
		<integer>-15</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>B</key>
		<integer>-18</integer>
		<key>J</key>
		<integer>-25</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>U</key>
		<integer>-19</integer>
		<key>V</key>
		<integer>-51</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-48</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>Z</key>
		<integer>-16</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>asterisk</key>
		<integer>-47</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>10</integer>
		<key>n</key>
		<integer>-5</integer>
		<key>question</key>
		<integer>-10</integer>
		<key>quotedbl</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-5</integer>
		<key>x</key>
		<integer>-14</integer>
		<key>y</key>
		<integer>-6</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>comma</key>
		<integer>-100</integer>
		<key>divide</key>
		<integer>-40</integer>
		<key>eight</key>
		<integer>-35</integer>
		<key>emdash</key>
		<integer>-55</integer>
		<key>five</key>
		<integer>-35</integer>
		<key>four</key>
		<integer>-65</integer>
		<key>nine</key>
		<integer>-15</integer>
		<key>question</key>
		<integer>10</integer>
		<key>six</key>
		<integer>-35</integer>
		<key>zero</key>
		<integer>-35</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>nine</key>
		<integer>-35</integer>
		<key>question</key>
		<integer>-50</integer>
		<key>seven</key>
		<integer>-15</integer>
		<key>three</key>
		<integer>-60</integer>
		<key>two</key>
		<integer>-35</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>T</key>
		<integer>20</integer>
		<key>V</key>
		<integer>40</integer>
		<key>W</key>
		<integer>50</integer>
		<key>X</key>
		<integer>40</integer>
		<key>a</key>
		<integer>-50</integer>
		<key>v</key>
		<integer>25</integer>
		<key>w</key>
		<integer>30</integer>
		<key>y</key>
		<integer>20</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>a</key>
		<integer>-55</integer>
		<key>asterisk</key>
		<integer>20</integer>
		<key>b</key>
		<integer>15</integer>
		<key>c</key>
		<integer>5</integer>
		<key>colon</key>
		<integer>30</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>emdash</key>
		<integer>-70</integer>
		<key>exclam</key>
		<integer>20</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>n</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>40</integer>
		<key>quotedbl</key>
		<integer>40</integer>
		<key>t</key>
		<integer>20</integer>
		<key>u</key>
		<integer>10</integer>
		<key>v</key>
		<integer>40</integer>
		<key>w</key>
		<integer>40</integer>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>40</integer>
	</dict>
	<key>thorn</key>
	<dict>
		<key>b</key>
		<integer>15</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>emdash</key>
		<integer>15</integer>
		<key>four</key>
		<integer>15</integer>
		<key>seven</key>
		<integer>15</integer>
		<key>zero</key>
		<integer>15</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>emdash</key>
		<integer>15</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>three</key>
		<integer>-30</integer>
		<key>zero</key>
		<integer>10</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>B</key>
		<integer>-14</integer>
		<key>C</key>
		<integer>5</integer>
		<key>J</key>
		<integer>-25</integer>
		<key>U</key>
		<integer>-5</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>exclam</key>
		<integer>15</integer>
		<key>m</key>
		<integer>-17</integer>
		<key>n</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>30</integer>
		<key>quotedbl</key>
		<integer>15</integer>
		<key>s</key>
		<integer>0</integer>
		<key>t</key>
		<integer>10</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>A</key>
		<integer>-110</integer>
		<key>M</key>
		<integer>-17</integer>
		<key>a</key>
		<integer>-107</integer>
		<key>asterisk</key>
		<integer>40</integer>
		<key>b</key>
		<integer>10</integer>
		<key>backslash</key>
		<integer>20</integer>
		<key>c</key>
		<integer>-22</integer>
		<key>comma</key>
		<integer>-85</integer>
		<key>emdash</key>
		<integer>-25</integer>
		<key>exclam</key>
		<integer>40</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>70</integer>
		<key>quotedbl</key>
		<integer>50</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>40</integer>
		<key>v</key>
		<integer>30</integer>
		<key>w</key>
		<integer>20</integer>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>30</integer>
		<key>z</key>
		<integer>30</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>A</key>
		<integer>-98</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>a</key>
		<integer>-75</integer>
		<key>asterisk</key>
		<integer>35</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>emdash</key>
		<integer>-15</integer>
		<key>exclam</key>
		<integer>25</integer>
		<key>m</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>50</integer>
		<key>quotedbl</key>
		<integer>50</integer>
		<key>t</key>
		<integer>40</integer>
		<key>v</key>
		<integer>20</integer>
		<key>w</key>
		<integer>30</integer>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>30</integer>
		<key>z</key>
		<integer>25</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>C</key>
		<integer>-30</integer>
		<key>asterisk</key>
		<integer>10</integer>
		<key>b</key>
		<integer>10</integer>
		<key>c</key>
		<integer>-40</integer>
		<key>emdash</key>
		<integer>-35</integer>
		<key>guillemotleft</key>
		<integer>-40</integer>
		<key>guillemotright</key>
		<integer>-15</integer>
		<key>question</key>
		<integer>20</integer>
		<key>slash</key>
		<integer>35</integer>
		<key>t</key>
		<integer>10</integer>
		<key>v</key>
		<integer>20</integer>
		<key>w</key>
		<integer>20</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>A</key>
		<integer>-78</integer>
		<key>S</key>
		<integer>11</integer>
		<key>T</key>
		<integer>20</integer>
		<key>V</key>
		<integer>6</integer>
		<key>W</key>
		<integer>8</integer>
		<key>Z</key>
		<integer>12</integer>
		<key>a</key>
		<integer>-70</integer>
		<key>asterisk</key>
		<integer>50</integer>
		<key>b</key>
		<integer>15</integer>
		<key>c</key>
		<integer>-33</integer>
		<key>comma</key>
		<integer>-85</integer>
		<key>emdash</key>
		<integer>-55</integer>
		<key>exclam</key>
		<integer>40</integer>
		<key>m</key>
		<integer>-15</integer>
		<key>question</key>
		<integer>70</integer>
		<key>quotedbl</key>
		<integer>50</integer>
		<key>t</key>
		<integer>40</integer>
		<key>v</key>
		<integer>30</integer>
		<key>w</key>
		<integer>30</integer>
		<key>y</key>
		<integer>41</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>b</key>
		<integer>18</integer>
		<key>c</key>
		<integer>12</integer>
		<key>v</key>
		<integer>30</integer>
		<key>w</key>
		<integer>30</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>comma</key>
		<integer>-25</integer>
		<key>emdash</key>
		<integer>15</integer>
		<key>seven</key>
		<integer>15</integer>
		<key>six</key>
		<integer>15</integer>
		<key>three</key>
		<integer>-25</integer>
		<key>two</key>
		<integer>-25</integer>
	</dict>
</dict>
</plist>
