<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_AE</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
	</array>
	<key>@MMK_L_Delta</key>
	<array>
		<string>Delta</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
	</array>
	<key>@MMK_L_IJ</key>
	<array>
		<string>IJ</string>
		<string>J</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M</string>
		<string>dcaron</string>
		<string>ldot</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>uni041C</string>
		<string>uni0408</string>
		<string>uni04C0</string>
		<string>Omega</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>five</string>
		<string>six</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>numbersign</string>
		<string>question</string>
		<string>underscore</string>
		<string>braceright</string>
		<string>bracketright</string>
		<string>parenright</string>
		<string>florin</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>sterling</string>
		<string>yen</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>emptyset</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>lozenge</string>
		<string>asciicircum</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
	</array>
	<key>@MMK_L_Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_ae</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_L_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_at</key>
	<array>
		<string>at</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b</string>
	</array>
	<key>@MMK_L_backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_L_braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>@MMK_L_bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d</string>
		<string>dcroat</string>
	</array>
	<key>@MMK_L_emdash</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
	</array>
	<key>@MMK_L_eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_L_exclamdown</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>@MMK_L_four</key>
	<array>
		<string>four</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_L_germandbls</key>
	<array>
		<string>germandbls</string>
	</array>
	<key>@MMK_L_guillemotleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_guillemotright</key>
	<array>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_h</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>fi</string>
		<string>f_f_i</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>fl</string>
		<string>f_f_l</string>
	</array>
	<key>@MMK_L_lcaron</key>
	<array>
		<string>lcaron</string>
	</array>
	<key>@MMK_L_mu</key>
	<array>
		<string>mu</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>@MMK_L_p</key>
	<array>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>@MMK_L_periodcentered</key>
	<array>
		<string>periodcentered</string>
	</array>
	<key>@MMK_L_pi</key>
	<array>
		<string>pi</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>@MMK_L_questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>@MMK_L_quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quotedblright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_L_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_L_space</key>
	<array>
		<string>space</string>
		<string>uni00A0</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>c_t</string>
		<string>f_t</string>
		<string>s_t</string>
		<string>t_t</string>
	</array>
	<key>@MMK_L_uni0402</key>
	<array>
		<string>uni0402</string>
	</array>
	<key>@MMK_L_uni0404</key>
	<array>
		<string>uni0404</string>
	</array>
	<key>@MMK_L_uni0405</key>
	<array>
		<string>uni0405</string>
	</array>
	<key>@MMK_L_uni040B</key>
	<array>
		<string>uni040B</string>
	</array>
	<key>@MMK_L_uni0410</key>
	<array>
		<string>uni0410</string>
	</array>
	<key>@MMK_L_uni0411</key>
	<array>
		<string>uni0411</string>
	</array>
	<key>@MMK_L_uni0412</key>
	<array>
		<string>uni0412</string>
	</array>
	<key>@MMK_L_uni0413</key>
	<array>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
	</array>
	<key>@MMK_L_uni0414</key>
	<array>
		<string>uni0414</string>
		<string>uni04B6</string>
	</array>
	<key>@MMK_L_uni0415</key>
	<array>
		<string>uni0415</string>
		<string>uni0401</string>
	</array>
	<key>@MMK_L_uni0416</key>
	<array>
		<string>uni0416</string>
		<string>uni041A</string>
		<string>uni040C</string>
	</array>
	<key>@MMK_L_uni0417</key>
	<array>
		<string>uni0417</string>
	</array>
	<key>@MMK_L_uni0418</key>
	<array>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni040D</string>
		<string>uni041B</string>
		<string>uni041D</string>
		<string>uni041F</string>
		<string>uni0427</string>
		<string>uni0428</string>
		<string>uni040F</string>
		<string>uni042F</string>
		<string>uni042B</string>
		<string>uni0406</string>
		<string>uni0407</string>
	</array>
	<key>@MMK_L_uni041E</key>
	<array>
		<string>uni041E</string>
		<string>uni042D</string>
		<string>uni042E</string>
	</array>
	<key>@MMK_L_uni0420</key>
	<array>
		<string>uni0420</string>
	</array>
	<key>@MMK_L_uni0421</key>
	<array>
		<string>uni0421</string>
	</array>
	<key>@MMK_L_uni0422</key>
	<array>
		<string>uni0422</string>
	</array>
	<key>@MMK_L_uni0423</key>
	<array>
		<string>uni0423</string>
		<string>uni040E</string>
	</array>
	<key>@MMK_L_uni0424</key>
	<array>
		<string>uni0424</string>
	</array>
	<key>@MMK_L_uni0425</key>
	<array>
		<string>uni0425</string>
	</array>
	<key>@MMK_L_uni0426</key>
	<array>
		<string>uni0426</string>
		<string>uni0429</string>
	</array>
	<key>@MMK_L_uni042C</key>
	<array>
		<string>uni042C</string>
		<string>uni042A</string>
		<string>uni0409</string>
		<string>uni040A</string>
	</array>
	<key>@MMK_L_uni0430</key>
	<array>
		<string>uni0430</string>
	</array>
	<key>@MMK_L_uni0431</key>
	<array>
		<string>uni0431</string>
	</array>
	<key>@MMK_L_uni0432</key>
	<array>
		<string>uni0432</string>
	</array>
	<key>@MMK_L_uni0433</key>
	<array>
		<string>uni0433</string>
		<string>uni0453</string>
	</array>
	<key>@MMK_L_uni0434</key>
	<array>
		<string>uni0434</string>
	</array>
	<key>@MMK_L_uni0435</key>
	<array>
		<string>uni0435</string>
		<string>uni0451</string>
	</array>
	<key>@MMK_L_uni0436</key>
	<array>
		<string>uni0436</string>
		<string>uni043A</string>
		<string>uni045C</string>
	</array>
	<key>@MMK_L_uni0437</key>
	<array>
		<string>uni0437</string>
	</array>
	<key>@MMK_L_uni0438</key>
	<array>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni045D</string>
		<string>uni043B</string>
		<string>uni043D</string>
		<string>uni0447</string>
		<string>uni0448</string>
		<string>uni045F</string>
		<string>uni044B</string>
		<string>uni044F</string>
	</array>
	<key>@MMK_L_uni043C</key>
	<array>
		<string>uni043C</string>
	</array>
	<key>@MMK_L_uni043E</key>
	<array>
		<string>uni043E</string>
		<string>uni044D</string>
		<string>uni044E</string>
	</array>
	<key>@MMK_L_uni043F</key>
	<array>
		<string>uni043F</string>
		<string>uni0442</string>
	</array>
	<key>@MMK_L_uni0440</key>
	<array>
		<string>uni0440</string>
	</array>
	<key>@MMK_L_uni0441</key>
	<array>
		<string>uni0441</string>
	</array>
	<key>@MMK_L_uni0443</key>
	<array>
		<string>uni0443</string>
		<string>uni045E</string>
	</array>
	<key>@MMK_L_uni0444</key>
	<array>
		<string>uni0444</string>
	</array>
	<key>@MMK_L_uni0445</key>
	<array>
		<string>uni0445</string>
	</array>
	<key>@MMK_L_uni0446</key>
	<array>
		<string>uni0446</string>
		<string>uni0449</string>
		<string>uni04B7</string>
	</array>
	<key>@MMK_L_uni044C</key>
	<array>
		<string>uni044C</string>
		<string>uni044A</string>
		<string>uni0459</string>
		<string>uni045A</string>
	</array>
	<key>@MMK_L_uni0452</key>
	<array>
		<string>uni0452</string>
		<string>uni045B</string>
	</array>
	<key>@MMK_L_uni0454</key>
	<array>
		<string>uni0454</string>
	</array>
	<key>@MMK_L_uni0455</key>
	<array>
		<string>uni0455</string>
	</array>
	<key>@MMK_L_uni0456</key>
	<array>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni0458</string>
	</array>
	<key>@MMK_L_uni0491</key>
	<array>
		<string>uni0491</string>
	</array>
	<key>@MMK_L_uni04B0</key>
	<array>
		<string>uni04B0</string>
	</array>
	<key>@MMK_L_uni04B1</key>
	<array>
		<string>uni04B1</string>
	</array>
	<key>@MMK_L_uni04BA</key>
	<array>
		<string>uni04BA</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>f_f_y</string>
		<string>f_y</string>
		<string>t_y</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_AE</key>
	<array>
		<string>AE</string>
	</array>
	<key>@MMK_R_B</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_Delta</key>
	<array>
		<string>Delta</string>
	</array>
	<key>@MMK_R_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_R_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_at</key>
	<array>
		<string>at</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>hbar</string>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_R_backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_R_braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>@MMK_R_bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>c_t</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
	</array>
	<key>@MMK_R_emdash</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
	</array>
	<key>@MMK_R_eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>thorn</string>
		<string>germandbls</string>
		<string>fi</string>
		<string>fl</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>f_f_y</string>
		<string>f_t</string>
		<string>f_y</string>
	</array>
	<key>@MMK_R_four</key>
	<array>
		<string>four</string>
	</array>
	<key>@MMK_R_guillemotleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guillemotright</key>
	<array>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
	</array>
	<key>@MMK_R_m</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_R_mu</key>
	<array>
		<string>mu</string>
	</array>
	<key>@MMK_R_nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>@MMK_R_one</key>
	<array>
		<string>one</string>
	</array>
	<key>@MMK_R_ordfeminine</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>@MMK_R_ordmasculine</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_R_parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>@MMK_R_periodcentered</key>
	<array>
		<string>periodcentered</string>
	</array>
	<key>@MMK_R_pi</key>
	<array>
		<string>pi</string>
	</array>
	<key>@MMK_R_q</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_R_question</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_R_quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quotedblright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_registered</key>
	<array>
		<string>registered</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>s_t</string>
	</array>
	<key>@MMK_R_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_R_space</key>
	<array>
		<string>space</string>
		<string>uni00A0</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>t_t</string>
		<string>t_y</string>
	</array>
	<key>@MMK_R_three</key>
	<array>
		<string>three</string>
	</array>
	<key>@MMK_R_trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>@MMK_R_two</key>
	<array>
		<string>two</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>@MMK_R_uni0404</key>
	<array>
		<string>uni0404</string>
	</array>
	<key>@MMK_R_uni0405</key>
	<array>
		<string>uni0405</string>
	</array>
	<key>@MMK_R_uni0408</key>
	<array>
		<string>uni0408</string>
	</array>
	<key>@MMK_R_uni0409</key>
	<array>
		<string>uni0409</string>
	</array>
	<key>@MMK_R_uni0410</key>
	<array>
		<string>uni0410</string>
	</array>
	<key>@MMK_R_uni0411</key>
	<array>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni040D</string>
		<string>uni041A</string>
		<string>uni040C</string>
		<string>uni041D</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni040F</string>
		<string>uni042C</string>
		<string>uni042B</string>
		<string>uni040A</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni042E</string>
		<string>uni04BA</string>
	</array>
	<key>@MMK_R_uni0413</key>
	<array>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
	</array>
	<key>@MMK_R_uni0414</key>
	<array>
		<string>uni0414</string>
	</array>
	<key>@MMK_R_uni0415</key>
	<array>
		<string>uni0415</string>
		<string>uni0401</string>
	</array>
	<key>@MMK_R_uni0416</key>
	<array>
		<string>uni0416</string>
	</array>
	<key>@MMK_R_uni0417</key>
	<array>
		<string>uni0417</string>
	</array>
	<key>@MMK_R_uni041B</key>
	<array>
		<string>uni041B</string>
	</array>
	<key>@MMK_R_uni041E</key>
	<array>
		<string>uni041E</string>
		<string>uni0421</string>
	</array>
	<key>@MMK_R_uni0422</key>
	<array>
		<string>uni0422</string>
		<string>uni040B</string>
		<string>uni0402</string>
	</array>
	<key>@MMK_R_uni0423</key>
	<array>
		<string>uni0423</string>
		<string>uni040E</string>
	</array>
	<key>@MMK_R_uni0424</key>
	<array>
		<string>uni0424</string>
	</array>
	<key>@MMK_R_uni0425</key>
	<array>
		<string>uni0425</string>
	</array>
	<key>@MMK_R_uni0427</key>
	<array>
		<string>uni0427</string>
		<string>uni04B6</string>
	</array>
	<key>@MMK_R_uni042A</key>
	<array>
		<string>uni042A</string>
	</array>
	<key>@MMK_R_uni042D</key>
	<array>
		<string>uni042D</string>
	</array>
	<key>@MMK_R_uni042F</key>
	<array>
		<string>uni042F</string>
	</array>
	<key>@MMK_R_uni0430</key>
	<array>
		<string>uni0430</string>
	</array>
	<key>@MMK_R_uni0431</key>
	<array>
		<string>uni0431</string>
	</array>
	<key>@MMK_R_uni0432</key>
	<array>
		<string>uni0432</string>
		<string>uni0435</string>
		<string>uni0451</string>
		<string>uni043E</string>
		<string>uni0441</string>
		<string>uni0454</string>
	</array>
	<key>@MMK_R_uni0433</key>
	<array>
		<string>uni0433</string>
		<string>uni0453</string>
	</array>
	<key>@MMK_R_uni0434</key>
	<array>
		<string>uni0434</string>
	</array>
	<key>@MMK_R_uni0436</key>
	<array>
		<string>uni0436</string>
	</array>
	<key>@MMK_R_uni0437</key>
	<array>
		<string>uni0437</string>
	</array>
	<key>@MMK_R_uni0438</key>
	<array>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni045D</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044E</string>
	</array>
	<key>@MMK_R_uni043A</key>
	<array>
		<string>uni043A</string>
		<string>uni045C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0442</string>
		<string>uni045A</string>
	</array>
	<key>@MMK_R_uni043B</key>
	<array>
		<string>uni043B</string>
		<string>uni0459</string>
	</array>
	<key>@MMK_R_uni043C</key>
	<array>
		<string>uni043C</string>
	</array>
	<key>@MMK_R_uni0443</key>
	<array>
		<string>uni0443</string>
		<string>uni045E</string>
	</array>
	<key>@MMK_R_uni0444</key>
	<array>
		<string>uni0444</string>
	</array>
	<key>@MMK_R_uni0445</key>
	<array>
		<string>uni0445</string>
	</array>
	<key>@MMK_R_uni0447</key>
	<array>
		<string>uni0447</string>
		<string>uni04B7</string>
	</array>
	<key>@MMK_R_uni044A</key>
	<array>
		<string>uni044A</string>
	</array>
	<key>@MMK_R_uni044C</key>
	<array>
		<string>uni044C</string>
		<string>uni044B</string>
	</array>
	<key>@MMK_R_uni044D</key>
	<array>
		<string>uni044D</string>
	</array>
	<key>@MMK_R_uni044F</key>
	<array>
		<string>uni044F</string>
	</array>
	<key>@MMK_R_uni0452</key>
	<array>
		<string>uni0452</string>
		<string>uni045B</string>
	</array>
	<key>@MMK_R_uni0455</key>
	<array>
		<string>uni0455</string>
	</array>
	<key>@MMK_R_uni0456</key>
	<array>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni0458</string>
	</array>
	<key>@MMK_R_uni0491</key>
	<array>
		<string>uni0491</string>
	</array>
	<key>@MMK_R_uni04B0</key>
	<array>
		<string>uni04B0</string>
	</array>
	<key>@MMK_R_uni04B1</key>
	<array>
		<string>uni04B1</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_zero</key>
	<array>
		<string>zero</string>
	</array>
</dict>
</plist>
