/* 
 * Lateef (Arabic) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Lateef';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/lateef/v1/LateefRegOT.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/lateef/v1/LateefRegOT.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/lateef/v1/LateefRegOT.ttf) format('truetype');
}
