/* 
 * Droid Sans Thai (Thai) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Sans Thai';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidsansthai/v1/DroidSansThai-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidsansthai/v1/DroidSansThai-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidsansthai/v1/DroidSansThai-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Sans Thai';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidsansthai/v1/DroidSansThai-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidsansthai/v1/DroidSansThai-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidsansthai/v1/DroidSansThai-Regular.ttf) format('truetype');
}
