/* 
 * Padauk (Myanmar) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/padauk/v1/Padauk-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/padauk/v1/Padauk-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/padauk/v1/Padauk-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/padauk/v1/Padauk-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/padauk/v1/Padauk-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/padauk/v1/Padauk-Bold.ttf) format('truetype');
}
