<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_AE_r</key>
	<array>
		<string>AE'</string>
	</array>
	<key>_A_l</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>_A_r</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>_B_l</key>
	<array>
		<string>B'</string>
	</array>
	<key>_B_r</key>
	<array>
		<string>B'</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Eth</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Thorn</string>
	</array>
	<key>_C_l</key>
	<array>
		<string>C'</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>_C_r</key>
	<array>
		<string>C'</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>_D_l</key>
	<array>
		<string>D'</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
	</array>
	<key>_E_l</key>
	<array>
		<string>AE'</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
	</array>
	<key>_F_l</key>
	<array>
		<string>F'</string>
	</array>
	<key>_G_l</key>
	<array>
		<string>G'</string>
		<string>Gcommaaccent</string>
	</array>
	<key>_G_r</key>
	<array>
		<string>G'</string>
		<string>Gcommaaccent</string>
	</array>
	<key>_Germandbls.alt2_l</key>
	<array>
		<string>Germandbls.alt2'</string>
	</array>
	<key>_Germandbls.alt2_r</key>
	<array>
		<string>Germandbls.alt2'</string>
	</array>
	<key>_Germandbls.alt_r</key>
	<array>
		<string>Germandbls.alt'</string>
	</array>
	<key>_Germandbls_l</key>
	<array>
		<string>Germandbls'</string>
	</array>
	<key>_Germandbls_r</key>
	<array>
		<string>Germandbls'</string>
	</array>
	<key>_H_l</key>
	<array>
		<string>H'</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
	</array>
	<key>_J_l</key>
	<array>
		<string>J'</string>
	</array>
	<key>_J_r</key>
	<array>
		<string>J'</string>
	</array>
	<key>_K_l</key>
	<array>
		<string>K'</string>
		<string>Kcommaaccent</string>
	</array>
	<key>_L_l</key>
	<array>
		<string>L'</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
	</array>
	<key>_M_l</key>
	<array>
		<string>M'</string>
	</array>
	<key>_M_r</key>
	<array>
		<string>M'</string>
	</array>
	<key>_N_l</key>
	<array>
		<string>N'</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>_N_r</key>
	<array>
		<string>N'</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>_O_l</key>
	<array>
		<string>O'</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
	</array>
	<key>_O_r</key>
	<array>
		<string>O'</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
	</array>
	<key>_P_l</key>
	<array>
		<string>P'</string>
	</array>
	<key>_Q_l</key>
	<array>
		<string>Q'</string>
	</array>
	<key>_Q_r</key>
	<array>
		<string>Q'</string>
	</array>
	<key>_R_l</key>
	<array>
		<string>R'</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>_S_l</key>
	<array>
		<string>S'</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
	</array>
	<key>_S_r</key>
	<array>
		<string>S'</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
	</array>
	<key>_T_l</key>
	<array>
		<string>T'</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
	</array>
	<key>_T_r</key>
	<array>
		<string>T'</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
	</array>
	<key>_Thorn_l</key>
	<array>
		<string>Thorn'</string>
	</array>
	<key>_U_l</key>
	<array>
		<string>U'</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>_U_r</key>
	<array>
		<string>U'</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>_V_l</key>
	<array>
		<string>V'</string>
	</array>
	<key>_V_r</key>
	<array>
		<string>V'</string>
	</array>
	<key>_W_l</key>
	<array>
		<string>W'</string>
	</array>
	<key>_W_r</key>
	<array>
		<string>W'</string>
	</array>
	<key>_X_l</key>
	<array>
		<string>X'</string>
	</array>
	<key>_X_r</key>
	<array>
		<string>X'</string>
	</array>
	<key>_Y_l</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
	</array>
	<key>_Y_r</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
	</array>
	<key>_Z_l</key>
	<array>
		<string>Z'</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>_Z_r</key>
	<array>
		<string>Z'</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>_a_l</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>_a_r</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>_ampersand_r</key>
	<array>
		<string>ampersand'</string>
	</array>
	<key>_asterisk_l</key>
	<array>
		<string>asterisk'</string>
	</array>
	<key>_asterisk_r</key>
	<array>
		<string>asterisk'</string>
	</array>
	<key>_at_l</key>
	<array>
		<string>at'</string>
	</array>
	<key>_at_r</key>
	<array>
		<string>at'</string>
	</array>
	<key>_b_l</key>
	<array>
		<string>b'</string>
	</array>
	<key>_b_r</key>
	<array>
		<string>b'</string>
	</array>
	<key>_backslash_l</key>
	<array>
		<string>backslash'</string>
	</array>
	<key>_backslash_r</key>
	<array>
		<string>backslash'</string>
	</array>
	<key>_braceleft_l</key>
	<array>
		<string>braceleft'</string>
	</array>
	<key>_braceright_r</key>
	<array>
		<string>braceright'</string>
	</array>
	<key>_bracketleft_l</key>
	<array>
		<string>bracketleft'</string>
	</array>
	<key>_bracketright_r</key>
	<array>
		<string>bracketright'</string>
	</array>
	<key>_c_l</key>
	<array>
		<string>c'</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
	</array>
	<key>_c_r</key>
	<array>
		<string>c'</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
	</array>
	<key>_colon_r</key>
	<array>
		<string>colon'</string>
	</array>
	<key>_comma_l</key>
	<array>
		<string>comma'</string>
	</array>
	<key>_comma_r</key>
	<array>
		<string>comma'</string>
	</array>
	<key>_d_l</key>
	<array>
		<string>d'</string>
		<string>dcaron</string>
		<string>dcroat</string>
	</array>
	<key>_d_r</key>
	<array>
		<string>d'</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>q</string>
	</array>
	<key>_e_l</key>
	<array>
		<string>ae'</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
	</array>
	<key>_e_r</key>
	<array>
		<string>e'</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
	</array>
	<key>_eth_l</key>
	<array>
		<string>eth'</string>
	</array>
	<key>_eth_r</key>
	<array>
		<string>eth'</string>
	</array>
	<key>_exclamdown_l</key>
	<array>
		<string>exclamdown'</string>
	</array>
	<key>_f_l</key>
	<array>
		<string>f'</string>
	</array>
	<key>_f_r</key>
	<array>
		<string>f'</string>
		<string>germandbls</string>
	</array>
	<key>_four.osf_l</key>
	<array>
		<string>four.osf'</string>
	</array>
	<key>_four.osf_r</key>
	<array>
		<string>four.osf'</string>
	</array>
	<key>_four_l</key>
	<array>
		<string>four'</string>
	</array>
	<key>_four_r</key>
	<array>
		<string>four'</string>
	</array>
	<key>_g_l</key>
	<array>
		<string>g'</string>
		<string>gcommaaccent</string>
	</array>
	<key>_g_r</key>
	<array>
		<string>g'</string>
		<string>gcommaaccent</string>
	</array>
	<key>_germandbls_l</key>
	<array>
		<string>germandbls'</string>
	</array>
	<key>_guillemotleft_l</key>
	<array>
		<string>guillemotleft'</string>
		<string>guilsinglleft</string>
	</array>
	<key>_guillemotleft_r</key>
	<array>
		<string>guillemotleft'</string>
		<string>guilsinglleft</string>
	</array>
	<key>_guillemotright_l</key>
	<array>
		<string>guillemotright'</string>
		<string>guilsinglright</string>
	</array>
	<key>_guillemotright_r</key>
	<array>
		<string>guillemotright'</string>
		<string>guilsinglright</string>
	</array>
	<key>_h_l</key>
	<array>
		<string>h'</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
	</array>
	<key>_h_r</key>
	<array>
		<string>h'</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
	</array>
	<key>_hyphen_l</key>
	<array>
		<string>emdash'</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>_hyphen_r</key>
	<array>
		<string>emdash'</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>_i_l</key>
	<array>
		<string>dotlessi'</string>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
	</array>
	<key>_i_r</key>
	<array>
		<string>dotlessi'</string>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
	</array>
	<key>_j_l</key>
	<array>
		<string>dotlessj'</string>
		<string>j</string>
	</array>
	<key>_j_r</key>
	<array>
		<string>dotlessj'</string>
		<string>j</string>
	</array>
	<key>_k_l</key>
	<array>
		<string>k'</string>
		<string>kcommaaccent</string>
	</array>
	<key>_l_l</key>
	<array>
		<string>l'</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
	</array>
	<key>_m_r</key>
	<array>
		<string>m'</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>_nine.osf_l</key>
	<array>
		<string>nine.osf'</string>
	</array>
	<key>_nine_l</key>
	<array>
		<string>nine'</string>
	</array>
	<key>_o_l</key>
	<array>
		<string>o'</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>_o_r</key>
	<array>
		<string>o'</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>_one.osf_l</key>
	<array>
		<string>one.osf'</string>
	</array>
	<key>_one_l</key>
	<array>
		<string>one'</string>
	</array>
	<key>_p_l</key>
	<array>
		<string>p'</string>
		<string>thorn</string>
	</array>
	<key>_p_r</key>
	<array>
		<string>p'</string>
	</array>
	<key>_parenleft_l</key>
	<array>
		<string>parenleft'</string>
	</array>
	<key>_parenright_r</key>
	<array>
		<string>parenright'</string>
	</array>
	<key>_period_l</key>
	<array>
		<string>period'</string>
	</array>
	<key>_period_r</key>
	<array>
		<string>ellipsis'</string>
		<string>period</string>
	</array>
	<key>_q_l</key>
	<array>
		<string>q'</string>
	</array>
	<key>_question_r</key>
	<array>
		<string>question'</string>
	</array>
	<key>_questiondown_l</key>
	<array>
		<string>questiondown'</string>
	</array>
	<key>_quotedbl_l</key>
	<array>
		<string>quotedbl'</string>
		<string>quotesingle</string>
	</array>
	<key>_quotedbl_r</key>
	<array>
		<string>quotedbl'</string>
		<string>quotesingle</string>
	</array>
	<key>_quoteleft_l</key>
	<array>
		<string>quotedblleft'</string>
		<string>quoteleft</string>
	</array>
	<key>_quoteleft_r</key>
	<array>
		<string>quotedblleft'</string>
		<string>quoteleft</string>
	</array>
	<key>_quotereversed_l</key>
	<array>
		<string>quotereversed'</string>
	</array>
	<key>_quotereversed_r</key>
	<array>
		<string>quotereversed'</string>
	</array>
	<key>_quoteright_l</key>
	<array>
		<string>quotedblright'</string>
		<string>quoteright</string>
	</array>
	<key>_quoteright_r</key>
	<array>
		<string>quotedblright'</string>
		<string>quoteright</string>
	</array>
	<key>_quotesinglbase_l</key>
	<array>
		<string>quotedblbase'</string>
		<string>quotesinglbase</string>
	</array>
	<key>_quotesinglbase_r</key>
	<array>
		<string>quotedblbase'</string>
		<string>quotesinglbase</string>
	</array>
	<key>_r_l</key>
	<array>
		<string>r'</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>_registered_l</key>
	<array>
		<string>registered'</string>
	</array>
	<key>_registered_r</key>
	<array>
		<string>registered'</string>
	</array>
	<key>_s_l</key>
	<array>
		<string>s'</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
	</array>
	<key>_s_r</key>
	<array>
		<string>s'</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
	</array>
	<key>_semicolon_r</key>
	<array>
		<string>semicolon'</string>
	</array>
	<key>_seven_l</key>
	<array>
		<string>seven'</string>
	</array>
	<key>_seven_r</key>
	<array>
		<string>seven'</string>
	</array>
	<key>_six_l</key>
	<array>
		<string>six'</string>
	</array>
	<key>_slash_l</key>
	<array>
		<string>slash'</string>
	</array>
	<key>_slash_r</key>
	<array>
		<string>slash'</string>
	</array>
	<key>_t_l</key>
	<array>
		<string>t'</string>
		<string>tcaron</string>
		<string>tcedilla</string>
	</array>
	<key>_t_r</key>
	<array>
		<string>t'</string>
		<string>tcaron</string>
		<string>tcedilla</string>
	</array>
	<key>_thorn_r</key>
	<array>
		<string>thorn'</string>
	</array>
	<key>_three.osf_l</key>
	<array>
		<string>three.osf'</string>
	</array>
	<key>_trademark_l</key>
	<array>
		<string>trademark'</string>
	</array>
	<key>_trademark_r</key>
	<array>
		<string>trademark'</string>
	</array>
	<key>_two.osf_l</key>
	<array>
		<string>two.osf'</string>
	</array>
	<key>_u_l</key>
	<array>
		<string>u'</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>_u_r</key>
	<array>
		<string>u'</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>_v_l</key>
	<array>
		<string>v'</string>
	</array>
	<key>_v_r</key>
	<array>
		<string>v'</string>
	</array>
	<key>_w_l</key>
	<array>
		<string>w'</string>
	</array>
	<key>_w_r</key>
	<array>
		<string>w'</string>
	</array>
	<key>_x_l</key>
	<array>
		<string>x'</string>
	</array>
	<key>_x_r</key>
	<array>
		<string>x'</string>
	</array>
	<key>_y_l</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>_y_r</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>_z_l</key>
	<array>
		<string>z'</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>_z_r</key>
	<array>
		<string>z'</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>_zero.osf_l</key>
	<array>
		<string>zero.osf'</string>
	</array>
	<key>_zero.osf_r</key>
	<array>
		<string>zero.osf'</string>
	</array>
	<key>_zero_l</key>
	<array>
		<string>zero'</string>
	</array>
</dict>
</plist>
