<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>Cinzel Decorative</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>copyright</key>
	<string>Copyright (c) 2012 Natanael Gama (info@ndiscovered.com), with Reserved Font Name 'Cinzel'</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>xHeight</key>
	<integer>714</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>ascender</key>
	<integer>800</integer>
	<key>descender</key>
	<integer>-200</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2012/09/06 00:54:09</string>
	<key>openTypeNameDesigner</key>
	<string>Natanael Gama</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.ndiscovered.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL
</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/ofl</string>
	<key>openTypeNameVersion</key>
	<string>Version </string>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2VendorID</key>
	<string>PfEd</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>800</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>200</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>944</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>-284</integer>
	<key>postscriptFontName</key>
	<string>CinzelDecorative-Regular</string>
	<key>postscriptFullName</key>
	<string>Cinzel Decorative Regular</string>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-14</integer>
		<integer>0</integer>
		<integer>700</integer>
		<integer>714</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>30</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>65</integer>
	</array>
    </dict>
</plist>
