<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>h</key>
	<dict>
	    <key>e</key>
	    <integer>-337</integer>
	</dict>
	<key>o</key>
	<dict>
	    <key>g</key>
	    <integer>10</integer>
	    <key>c</key>
	    <integer>10</integer>
	</dict>
    </dict>
</plist>
