/* 
 * Souliyo (Lao) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Souliyo';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/souliyo/v1/Souliyo-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/souliyo/v1/Souliyo-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/souliyo/v1/Souliyo-Regular.ttf) format('truetype');
}
