/* 
 * Droid Sans Ethiopic (Ethiopic) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Sans Ethiopic';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidsansethiopic/v1/DroidSansEthiopic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidsansethiopic/v1/DroidSansEthiopic-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidsansethiopic/v1/DroidSansEthiopic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Sans Ethiopic';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidsansethiopic/v1/DroidSansEthiopic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidsansethiopic/v1/DroidSansEthiopic-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidsansethiopic/v1/DroidSansEthiopic-Regular.ttf) format('truetype');
}
