/* 
 * Amiri (Arabic) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/amiri/v1/Amiri-Slanted.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/amiri/v1/Amiri-Slanted.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/amiri/v1/Amiri-Slanted.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/amiri/v1/Amiri-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/amiri/v1/Amiri-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/amiri/v1/Amiri-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/amiri/v1/Amiri-BoldSlanted.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/amiri/v1/Amiri-BoldSlanted.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/amiri/v1/Amiri-BoldSlanted.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/amiri/v1/Amiri-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/amiri/v1/Amiri-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/amiri/v1/Amiri-Regular.ttf) format('truetype');
}
