<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>AE</key>
		<integer>-70</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>U</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-80</integer>
		<key>W</key>
		<integer>-55</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>apostrophe</key>
		<integer>-60</integer>
		<key>asterisk</key>
		<integer>-90</integer>
		<key>braceright</key>
		<integer>-35</integer>
		<key>bracketright</key>
		<integer>-35</integer>
		<key>guillemotleft</key>
		<integer>-5</integer>
		<key>guilsinglleft</key>
		<integer>-5</integer>
		<key>ordfeminine</key>
		<integer>-80</integer>
		<key>ordmasculine</key>
		<integer>-80</integer>
		<key>parenright</key>
		<integer>-35</integer>
		<key>quotedblleft</key>
		<integer>-60</integer>
		<key>quotedblright</key>
		<integer>-60</integer>
		<key>quoteleft</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-60</integer>
		<key>uni00B2</key>
		<integer>-80</integer>
		<key>uni00B3</key>
		<integer>-80</integer>
		<key>uni00B9</key>
		<integer>-80</integer>
		<key>uni2074</key>
		<integer>-80</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>AE</key>
		<integer>-60</integer>
		<key>underscore</key>
		<integer>-70</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>-35</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-65</integer>
		<key>AE</key>
		<integer>-100</integer>
		<key>at</key>
		<integer>-30</integer>
		<key>braceright</key>
		<integer>-30</integer>
		<key>bracketright</key>
		<integer>-30</integer>
		<key>colon</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>egrave</key>
		<integer>0</integer>
		<key>endash</key>
		<integer>-40</integer>
		<key>guillemotleft</key>
		<integer>-30</integer>
		<key>guilsinglleft</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>ograve</key>
		<integer>0</integer>
		<key>parenright</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>s</key>
		<integer>-30</integer>
		<key>semicolon</key>
		<integer>-30</integer>
		<key>underscore</key>
		<integer>-100</integer>
		<key>y</key>
		<integer>30</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>AE</key>
		<integer>-30</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>colon</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>semicolon</key>
		<integer>-30</integer>
		<key>underscore</key>
		<integer>-80</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>AE</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>colon</key>
		<integer>-20</integer>
		<key>egrave</key>
		<integer>0</integer>
		<key>emdash</key>
		<integer>-45</integer>
		<key>endash</key>
		<integer>-45</integer>
		<key>guillemotleft</key>
		<integer>-20</integer>
		<key>guilsinglleft</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>ograve</key>
		<integer>0</integer>
		<key>semicolon</key>
		<integer>-20</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-70</integer>
		<key>U</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-80</integer>
		<key>W</key>
		<integer>-70</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>apostrophe</key>
		<integer>-60</integer>
		<key>asterisk</key>
		<integer>-100</integer>
		<key>bar</key>
		<integer>-20</integer>
		<key>braceright</key>
		<integer>-35</integer>
		<key>bracketright</key>
		<integer>-35</integer>
		<key>brokenbar</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>ordfeminine</key>
		<integer>-100</integer>
		<key>ordmasculine</key>
		<integer>-100</integer>
		<key>parenright</key>
		<integer>-35</integer>
		<key>quotedblleft</key>
		<integer>-60</integer>
		<key>quotedblright</key>
		<integer>-60</integer>
		<key>quoteleft</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-60</integer>
		<key>registered</key>
		<integer>-45</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>uni00B2</key>
		<integer>-100</integer>
		<key>uni00B3</key>
		<integer>-100</integer>
		<key>uni00B9</key>
		<integer>-100</integer>
		<key>uni2074</key>
		<integer>-100</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-15</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>ecircumflex</key>
		<integer>0</integer>
		<key>edieresis</key>
		<integer>0</integer>
		<key>egrave</key>
		<integer>0</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-25</integer>
		<key>ocircumflex</key>
		<integer>0</integer>
		<key>odieresis</key>
		<integer>0</integer>
		<key>ograve</key>
		<integer>0</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-25</integer>
		<key>underscore</key>
		<integer>-95</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-110</integer>
		<key>emdash</key>
		<integer>20</integer>
		<key>endash</key>
		<integer>20</integer>
		<key>period</key>
		<integer>-110</integer>
		<key>underscore</key>
		<integer>-100</integer>
		<key>y</key>
		<integer>40</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-45</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>apostrophe</key>
		<integer>-20</integer>
		<key>guillemotleft</key>
		<integer>-10</integer>
		<key>guilsinglleft</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>ordfeminine</key>
		<integer>-30</integer>
		<key>ordmasculine</key>
		<integer>-30</integer>
		<key>quotedblleft</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>quoteleft</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-20</integer>
		<key>uni00B2</key>
		<integer>-30</integer>
		<key>uni00B3</key>
		<integer>-30</integer>
		<key>uni00B9</key>
		<integer>-30</integer>
		<key>uni2074</key>
		<integer>-30</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>AE</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>underscore</key>
		<integer>-70</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-75</integer>
		<key>AE</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-50</integer>
		<key>acircumflex</key>
		<integer>-20</integer>
		<key>adieresis</key>
		<integer>-20</integer>
		<key>agrave</key>
		<integer>-20</integer>
		<key>at</key>
		<integer>-50</integer>
		<key>colon</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-90</integer>
		<key>ecircumflex</key>
		<integer>-40</integer>
		<key>edieresis</key>
		<integer>-40</integer>
		<key>egrave</key>
		<integer>-20</integer>
		<key>emdash</key>
		<integer>-60</integer>
		<key>endash</key>
		<integer>-60</integer>
		<key>guillemotleft</key>
		<integer>-70</integer>
		<key>guilsinglleft</key>
		<integer>-70</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>ocircumflex</key>
		<integer>-40</integer>
		<key>odieresis</key>
		<integer>-40</integer>
		<key>ograve</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-90</integer>
		<key>r</key>
		<integer>-40</integer>
		<key>semicolon</key>
		<integer>-40</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>underscore</key>
		<integer>-80</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>-45</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>acircumflex</key>
		<integer>0</integer>
		<key>adieresis</key>
		<integer>0</integer>
		<key>agrave</key>
		<integer>0</integer>
		<key>colon</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>ecircumflex</key>
		<integer>0</integer>
		<key>edieresis</key>
		<integer>0</integer>
		<key>egrave</key>
		<integer>0</integer>
		<key>f</key>
		<integer>-25</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>icircumflex</key>
		<integer>0</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>ocircumflex</key>
		<integer>6</integer>
		<key>odieresis</key>
		<integer>0</integer>
		<key>ograve</key>
		<integer>0</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>semicolon</key>
		<integer>-30</integer>
		<key>t</key>
		<integer>-30</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-120</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>U</key>
		<integer>-45</integer>
		<key>V</key>
		<integer>-55</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-50</integer>
		<key>acircumflex</key>
		<integer>-30</integer>
		<key>adieresis</key>
		<integer>-30</integer>
		<key>agrave</key>
		<integer>0</integer>
		<key>at</key>
		<integer>-60</integer>
		<key>braceright</key>
		<integer>-30</integer>
		<key>bracketright</key>
		<integer>-30</integer>
		<key>colon</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>ecircumflex</key>
		<integer>-20</integer>
		<key>edieresis</key>
		<integer>-20</integer>
		<key>egrave</key>
		<integer>0</integer>
		<key>emdash</key>
		<integer>-60</integer>
		<key>endash</key>
		<integer>-60</integer>
		<key>guillemotleft</key>
		<integer>-60</integer>
		<key>guilsinglleft</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>i</key>
		<integer>-40</integer>
		<key>icircumflex</key>
		<integer>15</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>35</integer>
		<key>o</key>
		<integer>-55</integer>
		<key>ocircumflex</key>
		<integer>-30</integer>
		<key>odieresis</key>
		<integer>-30</integer>
		<key>ograve</key>
		<integer>0</integer>
		<key>parenright</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>semicolon</key>
		<integer>-60</integer>
		<key>u</key>
		<integer>-30</integer>
		<key>underscore</key>
		<integer>-100</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-110</integer>
		<key>AE</key>
		<integer>-130</integer>
		<key>J</key>
		<integer>-35</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>U</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>-45</integer>
		<key>Y</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-45</integer>
		<key>acircumflex</key>
		<integer>-20</integer>
		<key>adieresis</key>
		<integer>-20</integer>
		<key>agrave</key>
		<integer>0</integer>
		<key>at</key>
		<integer>-55</integer>
		<key>braceright</key>
		<integer>-25</integer>
		<key>bracketright</key>
		<integer>-25</integer>
		<key>colon</key>
		<integer>-55</integer>
		<key>comma</key>
		<integer>-90</integer>
		<key>ecircumflex</key>
		<integer>-20</integer>
		<key>edieresis</key>
		<integer>-20</integer>
		<key>egrave</key>
		<integer>0</integer>
		<key>guillemotleft</key>
		<integer>-50</integer>
		<key>guilsinglleft</key>
		<integer>-50</integer>
		<key>i</key>
		<integer>-35</integer>
		<key>icircumflex</key>
		<integer>15</integer>
		<key>idieresis</key>
		<integer>25</integer>
		<key>igrave</key>
		<integer>40</integer>
		<key>o</key>
		<integer>-50</integer>
		<key>ocircumflex</key>
		<integer>-20</integer>
		<key>odieresis</key>
		<integer>-20</integer>
		<key>ograve</key>
		<integer>0</integer>
		<key>parenright</key>
		<integer>-25</integer>
		<key>period</key>
		<integer>-90</integer>
		<key>semicolon</key>
		<integer>-55</integer>
		<key>u</key>
		<integer>-25</integer>
		<key>ucircumflex</key>
		<integer>-10</integer>
		<key>udieresis</key>
		<integer>-10</integer>
		<key>ugrave</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-15</integer>
		<key>ydieresis</key>
		<integer>-5</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>AE</key>
		<integer>-70</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>S</key>
		<integer>-10</integer>
		<key>a</key>
		<integer>-15</integer>
		<key>acircumflex</key>
		<integer>0</integer>
		<key>agrave</key>
		<integer>0</integer>
		<key>at</key>
		<integer>-25</integer>
		<key>edieresis</key>
		<integer>0</integer>
		<key>egrave</key>
		<integer>0</integer>
		<key>guillemotleft</key>
		<integer>-20</integer>
		<key>guilsinglleft</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>igrave</key>
		<integer>0</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>ocircumflex</key>
		<integer>0</integer>
		<key>odieresis</key>
		<integer>0</integer>
		<key>ograve</key>
		<integer>0</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>ucircumflex</key>
		<integer>0</integer>
		<key>udieresis</key>
		<integer>0</integer>
		<key>ugrave</key>
		<integer>0</integer>
		<key>y</key>
		<integer>-25</integer>
		<key>ydieresis</key>
		<integer>0</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-95</integer>
		<key>AE</key>
		<integer>-130</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>O</key>
		<integer>-35</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>U</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-60</integer>
		<key>acircumflex</key>
		<integer>-30</integer>
		<key>adieresis</key>
		<integer>-30</integer>
		<key>agrave</key>
		<integer>0</integer>
		<key>at</key>
		<integer>-60</integer>
		<key>braceright</key>
		<integer>-30</integer>
		<key>bracketright</key>
		<integer>-30</integer>
		<key>colon</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>ecircumflex</key>
		<integer>-40</integer>
		<key>edieresis</key>
		<integer>-40</integer>
		<key>egrave</key>
		<integer>0</integer>
		<key>emdash</key>
		<integer>-40</integer>
		<key>endash</key>
		<integer>-40</integer>
		<key>guillemotleft</key>
		<integer>-70</integer>
		<key>guilsinglleft</key>
		<integer>-70</integer>
		<key>hyphen</key>
		<integer>-80</integer>
		<key>i</key>
		<integer>-40</integer>
		<key>icircumflex</key>
		<integer>0</integer>
		<key>idieresis</key>
		<integer>15</integer>
		<key>igrave</key>
		<integer>20</integer>
		<key>o</key>
		<integer>-75</integer>
		<key>ocircumflex</key>
		<integer>-40</integer>
		<key>odieresis</key>
		<integer>-40</integer>
		<key>ograve</key>
		<integer>0</integer>
		<key>parenright</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>semicolon</key>
		<integer>-60</integer>
		<key>u</key>
		<integer>-40</integer>
		<key>ucircumflex</key>
		<integer>-20</integer>
		<key>udieresis</key>
		<integer>-20</integer>
		<key>ugrave</key>
		<integer>-20</integer>
		<key>underscore</key>
		<integer>-127</integer>
		<key>x</key>
		<integer>-50</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>emdash</key>
		<integer>-45</integer>
		<key>endash</key>
		<integer>-45</integer>
		<key>hyphen</key>
		<integer>-50</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-15</integer>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>at</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-55</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-25</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>underscore</key>
		<integer>-40</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>seven</key>
		<integer>-60</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>underscore</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>emdash</key>
	<dict>
		<key>A</key>
		<integer>-25</integer>
		<key>F</key>
		<integer>20</integer>
		<key>J</key>
		<integer>35</integer>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-55</integer>
		<key>u</key>
		<integer>30</integer>
		<key>v</key>
		<integer>30</integer>
		<key>w</key>
		<integer>35</integer>
		<key>y</key>
		<integer>30</integer>
	</dict>
	<key>endash</key>
	<dict>
		<key>A</key>
		<integer>-25</integer>
		<key>F</key>
		<integer>20</integer>
		<key>J</key>
		<integer>35</integer>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-55</integer>
		<key>u</key>
		<integer>30</integer>
		<key>v</key>
		<integer>30</integer>
		<key>w</key>
		<integer>35</integer>
		<key>y</key>
		<integer>30</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>acircumflex</key>
		<integer>0</integer>
		<key>adieresis</key>
		<integer>0</integer>
		<key>agrave</key>
		<integer>0</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>ecircumflex</key>
		<integer>0</integer>
		<key>edieresis</key>
		<integer>0</integer>
		<key>egrave</key>
		<integer>0</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>guillemotleft</key>
		<integer>-40</integer>
		<key>guilsinglleft</key>
		<integer>-40</integer>
		<key>h</key>
		<integer>20</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>l</key>
		<integer>25</integer>
		<key>o</key>
		<integer>-25</integer>
		<key>ocircumflex</key>
		<integer>0</integer>
		<key>odieresis</key>
		<integer>0</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>underscore</key>
		<integer>-60</integer>
		<key>y</key>
		<integer>-30</integer>
		<key>ydieresis</key>
		<integer>-20</integer>
	</dict>
	<key>guillemotright</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-70</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>X</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-40</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>guilsinglright</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-70</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>X</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-40</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>v</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>A</key>
		<integer>-25</integer>
		<key>J</key>
		<integer>35</integer>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>Y</key>
		<integer>-50</integer>
		<key>Z</key>
		<integer>-60</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>apostrophe</key>
		<integer>-35</integer>
		<key>ordfeminine</key>
		<integer>-35</integer>
		<key>ordmasculine</key>
		<integer>-35</integer>
		<key>quotedblleft</key>
		<integer>-35</integer>
		<key>quotedblright</key>
		<integer>-35</integer>
		<key>quoteleft</key>
		<integer>-35</integer>
		<key>quoteright</key>
		<integer>-35</integer>
		<key>uni00B2</key>
		<integer>-35</integer>
		<key>uni00B3</key>
		<integer>-35</integer>
		<key>uni2074</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-25</integer>
		<key>y</key>
		<integer>-25</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>v</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>v</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>underscore</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>seven</key>
		<integer>-35</integer>
	</dict>
	<key>quotedblbase</key>
	<dict>
		<key>T</key>
		<integer>-80</integer>
		<key>U</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-100</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>v</key>
		<integer>-70</integer>
		<key>w</key>
		<integer>-65</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A</key>
		<integer>-80</integer>
		<key>J</key>
		<integer>-60</integer>
	</dict>
	<key>quotedblright</key>
	<dict>
		<key>A</key>
		<integer>-80</integer>
	</dict>
	<key>quotesinglbase</key>
	<dict>
		<key>T</key>
		<integer>-80</integer>
		<key>U</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-100</integer>
		<key>Y</key>
		<integer>-40</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>comma</key>
		<integer>-60</integer>
		<key>emdash</key>
		<integer>40</integer>
		<key>endash</key>
		<integer>40</integer>
		<key>hyphen</key>
		<integer>25</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>underscore</key>
		<integer>-100</integer>
		<key>v</key>
		<integer>35</integer>
		<key>w</key>
		<integer>35</integer>
		<key>y</key>
		<integer>35</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>underscore</key>
		<integer>-45</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-15</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>comma</key>
		<integer>-110</integer>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>emdash</key>
		<integer>-20</integer>
		<key>endash</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>underscore</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-35</integer>
	</dict>
	<key>underscore</key>
	<dict>
		<key>O</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-80</integer>
		<key>V</key>
		<integer>-100</integer>
		<key>Y</key>
		<integer>-80</integer>
		<key>j</key>
		<integer>35</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>t</key>
		<integer>-50</integer>
		<key>u</key>
		<integer>-45</integer>
		<key>v</key>
		<integer>-70</integer>
		<key>w</key>
		<integer>-60</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>at</key>
		<integer>-30</integer>
		<key>braceright</key>
		<integer>-40</integer>
		<key>bracketright</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>emdash</key>
		<integer>30</integer>
		<key>endash</key>
		<integer>30</integer>
		<key>guillemotleft</key>
		<integer>-30</integer>
		<key>guilsinglleft</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>parenright</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>underscore</key>
		<integer>-80</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-40</integer>
		<key>x</key>
		<integer>-40</integer>
		<key>y</key>
		<integer>-40</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>at</key>
		<integer>-25</integer>
		<key>braceright</key>
		<integer>-35</integer>
		<key>bracketright</key>
		<integer>-35</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>emdash</key>
		<integer>35</integer>
		<key>endash</key>
		<integer>35</integer>
		<key>guillemotleft</key>
		<integer>-20</integer>
		<key>guilsinglleft</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>parenright</key>
		<integer>-35</integer>
		<key>period</key>
		<integer>-70</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>underscore</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>x</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-35</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>a</key>
		<integer>-15</integer>
		<key>at</key>
		<integer>-20</integer>
		<key>guillemotleft</key>
		<integer>-30</integer>
		<key>guilsinglleft</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-40</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>at</key>
		<integer>-30</integer>
		<key>braceright</key>
		<integer>-40</integer>
		<key>bracketright</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>emdash</key>
		<integer>30</integer>
		<key>endash</key>
		<integer>30</integer>
		<key>guillemotleft</key>
		<integer>-30</integer>
		<key>guilsinglleft</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>parenright</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>s</key>
		<integer>-30</integer>
		<key>underscore</key>
		<integer>-80</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>x</key>
		<integer>-40</integer>
		<key>y</key>
		<integer>-40</integer>
	</dict>
</dict>
</plist>
