/* 
 * Lohit Bengali (Bengali) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Lohit Bengali';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/lohitbengali/v1/Lohit-Bengali.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/lohitbengali/v1/Lohit-Bengali.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/lohitbengali/v1/Lohit-Bengali.ttf) format('truetype');
}
