<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_kern_A_left</key>
	<array>
		<string>A'</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
	</array>
	<key>_kern_A_right</key>
	<array>
		<string>A'</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
	</array>
	<key>_kern_D</key>
	<array>
		<string>D'</string>
		<string>Eth</string>
	</array>
	<key>_kern_E</key>
	<array>
		<string>E'</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
	</array>
	<key>_kern_I</key>
	<array>
		<string>I'</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
	</array>
	<key>_kern_N</key>
	<array>
		<string>N'</string>
		<string>M</string>
		<string>Ntilde</string>
	</array>
	<key>_kern_O_right</key>
	<array>
		<string>O'</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>OE</string>
	</array>
	<key>_kern_U_right</key>
	<array>
		<string>U'</string>
		<string>V</string>
		<string>W</string>
		<string>Y</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>_kern_V_left</key>
	<array>
		<string>V'</string>
		<string>W</string>
	</array>
	<key>_kern_guillemotleft</key>
	<array>
		<string>guillemotleft'</string>
		<string>guilsinglleft</string>
	</array>
	<key>_kern_guillemotright</key>
	<array>
		<string>guillemotright'</string>
		<string>guilsinglright</string>
	</array>
	<key>_kern_i</key>
	<array>
		<string>i'</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>dotlessi</string>
	</array>
	<key>_kern_n_right</key>
	<array>
		<string>n'</string>
		<string>ntilde</string>
		<string>m</string>
	</array>
	<key>_kern_o_right</key>
	<array>
		<string>o'</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>oe</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>g</string>
		<string>q</string>
	</array>
	<key>_kern_quote_asc6</key>
	<array>
		<string>quoteleft'</string>
		<string>quotedblleft</string>
	</array>
	<key>_kern_quote_asc9</key>
	<array>
		<string>quoteright'</string>
		<string>quotedblright</string>
		<string>apostrophe</string>
	</array>
	<key>_kern_quote_base9</key>
	<array>
		<string>quotesinglbase'</string>
		<string>quotedblbase</string>
	</array>
	<key>_kern_u</key>
	<array>
		<string>u'</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
	</array>
	<key>_kern_y</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
</dict>
</plist>
